html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  style css */
.header {
  max-width: 1164px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  padding: 18px 0px;
  align-items: center;
}
.logo {
  display: block;
  width: 146px;
  height: 30px;
  background-image: url(../img/Logo.svg);
  margin-right: auto;
}
.nav_list {
  display: flex;
}
.nav_item {
  list-style-type: none;
  margin-right: 40px;
}
.nav_item:last-child {
  margin-right: 0px;
}
.nav_link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #393939;
}
.group_btn {
  display: flex;
  margin-left: 159px;
}
.btn_signup {
  font-family: "Roboto";
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  border-radius: 6px;
  color: #393939;
  background-color: #ffffff;
  border: none;
}
.btn_login {
  font-family: "Roboto";
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  border-radius: 6px;
  color: #393939;
  background-color: #ffffff;
  border: none;
}
.btn_login:hover,
.btn_login:focus {
  background-color: #1c1c1c;
  color: #ffffff;
}
.btn_signup:hover,
.btn_signup:focus {
  background-color: #1c1c1c;
  color: #ffffff;
}

/* /saidbar */
.hero {
  position: relative;
  display: flex;
  max-width: 1164px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: rgba(242, 255, 253, 0.2);
}
.man {
  position: absolute;
  top: 0%;
  left: 54%;
  width: 450px;
  height: 754px;
  z-index: 10;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elips-one {
  position: absolute;
  top: 17%;
  left: 54%;
  width: 650px;
  height: 680px;
  z-index: 5;
  background-image: url(../img/big-elps.png);
  background-repeat: no-repeat;
}
.elips-two {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 42%;
  top: 5%;
  z-index: 5;
  background-image: url(../img/hz.png);
  background-repeat: no-repeat;
}
.elips-three {
  position: absolute;
  width: 200px;
  height: 200px;

  left: -1%;
  top: 11%;

  z-index: 5;
  background-image: url(../img/small-ellipse.png);
  background-repeat: no-repeat;
}

.content-pos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero_group {
  display: flex;
}
.hero_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #067164;
  margin-bottom: 13px;
  margin-top: 68px;
}

.hero_title {
  width: 666px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.2;
  color: #1c1c1c;
  margin-bottom: 20px;
}
.hero_text-two {
  width: 431px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #666666;
  margin-bottom: 26px;
}
.hero_group {
  display: flex;
  align-items: center;
  margin-bottom: 142px;
}

.hero_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  padding: 18px 30px;
  background: #067164;
  border-radius: 6px;
  border: none;
  margin-right: 48px;
}

.hero_group-text {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1c1c1c;
  text-decoration: none;
}
.hero_group-span {
  position: relative;
  display: block;
  width: 47px;
  height: 47px;
  margin-right: 13px;
  background-color: #1c1c1c;
  border-radius: 50%;
}
.hero_group-svg {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 18px;
  height: 18px;
}
/* label */

.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 151px;
  z-index: 15;
  background-color: #067164;
}
.label_cont {
  max-width: 1164px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.label_list {
  display: flex;
  align-items: center;
}
.label_item {
  margin-right: 68px;
}

.label_item:last-child {
  margin-right: 0px;
}
.label-svg {
  height: 32px;
}

.about {
  /* display: flex; */
  /* align-items: center;
	justify-content: center; */
}
.about_cont {
	position: relative;
  display: flex;
  padding-top: 137px;
  padding-bottom: 120px;
  max-width: 1164px;
  margin: 0 auto;
  width: 100%;
	height: 880px;
  box-sizing: border-box;
}
.about_box {
  display: flex;
	max-width: 1164px;
}
.about_cont-text {
	display: flex;
	flex-direction: column;
}

.about_man-table {
  width: 445px;
  height: 452px;
  margin-right: 80px;
  margin-top: 10px;

}
.about_statue {
	position: absolute;
	top: 63%;
	left: 73%;
  width: 230px;
    height: 220px;
}


.about_text-logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  margin-bottom: 24px;
}
.about_title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 51px;
  line-height: 1.25;
	width: 676px;
  color: #393939;
  margin-bottom: 28px;
}

.about_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
	width: 431px;
  color: #3a3a3a;
  margin-bottom: 20px;
}
.about_text-lower {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
	width: 473px;
  color: #3a3a3a;
  margin-bottom: 30px;
}

.about_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  width: 219px;
  padding: 22px 32px;
  background: #067164;
  color: #ffffff;
	cursor: pointer;
}

